<div class="svg-container">
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 100" fill="#000">
    <path d="M500 80.7C358 68 0 4 0 4V0h1000v84.7c-216 23.3-358 8.6-500-4Z" opacity=".3"></path>
    <path d="M500 65.7C358 53 0 4 0 4V0h1000v62.7c-216 23.3-358 15.6-500 3Z" opacity=".5"></path>
    <path d="M500 50.7C358 38 0 4 0 4V0h1000v40.7C784 64 642 63.3 500 50.7Z"></path>
  </svg>
</div>

<footer class="footer">
  <div class="footer-container">
    <!-- About Section -->
    <div class="footer-section about">
      <h3>About Us</h3>
      <p>
        Nawalpur Tourism Association is a representative organization in the hospitatility industry, representating hotels,resorts and homestay of Nepal. 
      </p>
    </div>

    <!-- Quick Links Section -->
    <div class="footer-section links">
      <h3>Quick Links</h3>
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">Services</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </div>

    <!-- Contact Us Section -->
    <div class="footer-section contact">
      <h3>Contact Us</h3>
      <p>Location: Gairi Bypass, Kawasoti</p>
      <p>Email: info@company.com</p>
      <p>Phone: +977-9840365526</p>
    </div>
  </div>

  <!-- Social Media Section -->
  <div class="footer-social">
    <a href="https://www.facebook.com/profile.php?id=61566918261645" target="_blank" class="social-icon"><i class="fab fa-facebook-f"></i></a>
    <a href="https://wa.me/+9779847121776" target="_blank" class="social-icon"><i class="fab fa-whatsapp"></i></a>
  </div>

  <!-- Footer Bottom -->
  <div class="footer-bottom">
    <p>&copy; 2024 Nawalpur Tourism Association. All Rights Reserved. Developed by <a href="https://github.com/adityamgain" target="_blank">Aditya Amgain</a></p>
</p>
  </div>
</footer>
