<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Admin Login</title>
  <link rel="stylesheet" href="/css/login.css">
</head>
<body>
  <div class="login-container">
          <div class="logo-container">
            <img src="https://res.cloudinary.com/dgdbgblvb/image/upload/v1726634760/Image_18-09-2024_at_10.29_am-removebg-preview_sppzzb.png" alt="Nawalpur Tourism Logo" class="logo" />
        </div>

    <h1>Admin Login</h1>
    <% if (errorMessage) { %>
      <div class="error-message">
        <%= errorMessage %>
      </div>
    <% } %>
    <form action="/login" method="POST">
      <div class="input-group">
        <label for="username">Username:</label>
        <input type="text" name="username" id="username" required>
      </div>
      <div class="input-group">
        <label for="password">Password:</label>
        <input type="password" name="password" id="password" required>
      </div>
      <button type="submit">Login</button>
    </form>
  </div>
</body>
</html>
